{% load static %}

<!-- Footer
	================================================== -->
<footer id="footer" class="wrapper with-overlap">
  <div class="container-box">
    <div class="container">
      <div class="container-box-wrapper accent-box">
        <div class="row">
          <div class="form-wrapper">
            <form class="form-inline" method="post" name="form" action="">
              {% csrf_token %}
              <h3>GET INVOLVED!</h3>
              <!-- <h4 class="navigation-list-title">SIGN&nbsp;UP TO&nbsp;RECEIVE Mobile alerts</h4> -->
              <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input
                  id="email"
                  class="field-full-width"
                  name="email"
                  type="email"
                  value=""
                  required="required"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <label class="sr-only" for="email">Mobile</label>
                <input
                  id="mobile"
                  class="field-full-width"
                  name="mobile"
                  type="text"
                  value=""
                  required="required"
                  placeholder="Mobile Number e.g.(+263 777 666 777)"
                />
              </div>
              <button type="submit" class="btn btn-default">Update Me</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end get-involved -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-nav">
          <ul>
            <li>
              <a href="https://www.mdcallianceparty.org/news/" target="_blank"
                >News</a
              >
            </li>
            <li><a href="">Videos</a></li>
            <li>
              <a
                href="https://payments.mdcallianceparty.org/#/donations"
                target="_blank"
                ><strong class="text-danger">Donate</strong></a
              >
            </li>
            <li>
              <a href="https://www.mdcallianceparty.org/" target="_blank"
                >Party Platform</a
              >
            </li>
          </ul>
        </div>

        <div class="paid-for">
          <p class="no-margin">
            <a href="">PAID FOR BY TEAM CHAMISA NOW </a>
          </p>
        </div>

        <div class="copyright">
          <p>
            &copy; CHAMISA 2020.
          </p>
        </div>

        <p class="small text-muted no-margin">
          <a href="#contactme" data-toggle="modal">&nbsp;</a>
        </p>
      </div>
    </div>
  </div>
</footer>