{% load cms_tags menu_tags sekizai_tags static %}
    
    <!-- Header Bottom Links
	================================================== -->
    <div class="header-links">
        <div class="container">
          <div class="header-links-wrapper">
            <div class="col-md-3 col-xs-6 no-padding">
              <!-- Modify style with color classes: 'accent', 'solid-accent', 'solid-primary' (default: no extra class) -->
              <div
                class="header-links-item solid-accent"
                style="background-image: none;"
              >
                <a href="}">
                  <article>
                    <h3 class="entry-title">
                      <span>Contribute</span>
                    </h3>
                  </article>
                  <div class="overlay"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 no-padding">
              <div
                class="header-links-item"
                style="
                  background-image: url('static/assets/images/header-bottom-volunteer.png');
                "
              >
                <a href="#footer">
                  <article>
                    <h3 class="entry-title">
                      <i class="fa fa-check-square-o"></i>
                      <span>Volunteer</span>
                    </h3>
                  </article>
                  <div class="overlay"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 no-padding">
              <div
                class="header-links-item"
                style="
                  background-image: url('{% static 'assets/images/header-bottom-updates.jpg' %}');
                "
              >
                <a href="#footer">
                  <article>
                    <h3 class="entry-title">
                      <i class="fa fa-envelope"></i>
                      <span>Email Updates</span>
                    </h3>
                  </article>
                  <div class="overlay"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 no-padding">
              <div
                class="header-links-item"
                style="background-image: url('assets/images/header-bottom-news.jpg');"
              >
                <a href="#section-news">
                  <article>
                    <h3 class="entry-title">
                      <i class="fa fa-newspaper-o"></i>
                      <span>Latest News</span>
                    </h3>
                  </article>
                  <div class="overlay"></div>
                </a>
              </div>
            </div>
          </div>
          <!-- end header-links-wrapper -->
        </div>
        <!-- end container -->
      </div>
      <!-- end header-links -->

      <!-- Blockquote at Top
	================================================== -->

  

  <!-- Campaign Video
  ================================================== -->
  <div id="section-videos" class="wrapper video-list">
    <div class="container">

      <div style="padding-top: 200px; height: 600px; text-align: center;">
        {% placeholder 'welcome' %}
        
</div>
  </div>
</div>
  
<section class="action">
  {% placeholder 'action' %}
</section>
      <!-- <section class="about">
<div class="col-12">
        {% placeholder 'vision' %}
          </div>
              </section> -->

  
      <!-- <div class="col-12 quote">
            {% placeholder 'quote' %}
      </div> -->
      <div class="col-12 footer">
        {% placeholder 'footer' %}
  </div>
  
  <div class="icon-bar">
    <a
      href="https://www.facebook.com/AdvNelsonChamisa/"
      target="_blank"
      class="facebook"
      ><i class="fa fa-facebook"></i
    ></a>
    <a href="https://twitter.com/nelsonchamisa" target="_blank" class="twitter"
      ><i class="fa fa-twitter"></i
    ></a>
    <a
      href="https://www.instagram.com/nelson_chamisa/"
      target="_blank"
      class="instagram"
      ><i class="fa fa-instagram"></i
    ></a>
    <a
      href="https://www.youtube.com/user/Chinjamaitiro"
      target="_blank"
      class="youtube"
      ><i class="fa fa-youtube"></i
    ></a>
  </div>