{% extends "mainBase.html" %} {% load static %} {% block content %}
<h1>&nbsp;</h1>
<header class="page-header">
  <h1 class="page-title">{{header}}</h1>
  <!-- <div class="header-meta">
    <span class="posted-on">{{date}}</span>
  </div> -->
</header>

<div class="entry-content" style="min-height: 400px;">
  {% if image %}
  <p class="entry-thumbnail">
    <img
      src="{% static 'img/' %}{{image}}"
      alt="featured image"
      class="img-responsive"
      style="width: 420px;"
    />
  </p>
  {% else %} {%endif %}

  <p>
    {{description | safe }}
  </p>
</div>
{% endblock %}
